---

name: test

'on':
  push:
  schedule:
    - cron: '0 0 * * 2'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-python@v5.3.0
        with:
          python-version: '3.13'
          cache: pip

      - uses: extractions/setup-just@v3

      - run: pip install -r requirements-dev.txt

      - run: just test -v

      - run: just type

      - run: just lint --exit-zero

...
